<script src="../../votes/vote.service.ts"></script>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<div class="app-posts-page">
  <!--  <div class="row justify-content-md-center">-->
  <!--    <h5 style="padding-top: 15px">All Posts</h5>-->
  <!--  </div>-->

  <div class="container-fluid text-center">
    <div style="padding-top: 15px; font-family: Oswald; font-size: 30px; color: navy">All Posts</div>
  </div>

  <div class="container align-content-center" style="padding-top: 15px">
    <div *ngFor="let post of posts" (click)="onSelect(post)" [class.selected]="post === selectedPost">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{post.Title}}</h4>
          <div style="font-size: 10px">Posted at: {{post.PostTime}}
            by {{post.UserName}}</div>

          <div *ngIf="selectedPost && post.PostID === selectedPost.PostID">
            <div style="font-size: 16px">{{selectedPost.Content}}</div>
            <span class="card-text" style="font-size: 16px">
            <button type="button" class="btn btn-link" tooltip="Like This Post" [options]="tooltipOptions"
                    style="color: rgba(220,44,44,0.83); padding-left: 0px; padding-right: 3px">
              <fa-icon [icon]="['far', 'thumbs-up']" (click)="like(post)"></fa-icon></button>{{post.LikeNo}}
            </span>

            <span class="card-text" style="padding-left: 12px; font-size: 16px">
            <button type="button" class="btn btn-link" tooltip="Unlike This Post" [options]="tooltipOptions"
                    style="color: rgba(0,18,40,0.72); padding-right: 3px">
              <fa-icon [icon]="['far', 'thumbs-down']" (click)="unlike(post)"></fa-icon></button>{{post.DislikeNo}}
            </span>

            <span class="card-text" style="padding-left: 12px; font-size: 16px">
            <button type="button" class="btn btn-link" tooltip="See All Comments" [options]="tooltipOptions"
                    style="color: #62beee; padding-right: 4px">
              <fa-icon [icon]="['fas', 'comment-dots']" (click)=toggleComment(selectedPost)></fa-icon></button>{{post.CommentNo}}
            </span>

            <span class="card-text" style="padding-left: 10px; font-size: 16px">
            <button type="button" class="btn btn-link" tooltip="Say Something" [options]="tooltipOptions"
                    style="color: rgba(144,79,88,0.85); padding-right: 4px">
              <fa-icon [icon]="['far', 'comment-alt']" (click)=toggleShareComment(selectedPost)></fa-icon></button>
            </span>


            <!--showing up all previous comments-->
            <ng-container *ngIf="showComments">
              <div class="container-fluid">
                <ul class="list-group list-group-flush">
                  <div *ngFor="let comment of comments">
                    <div *ngIf="selectedPost.PostID == comment.PostID">
                    <li class="list-group-item" style="padding-top: 5px; font-size: 14px; padding-bottom: 5px">
                      {{comment.CommentContent}}</li>
                  </div>
                  </div>
                </ul>
              </div>
            </ng-container>
            <ng-container *ngIf="showShareComments">
              <app-comments></app-comments>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="container align-content-center">-->
  <!--    <nav aria-label="Page navigation example">-->
  <!--      <ul class="pagination">-->
  <!--        <li class="page-item">-->
  <!--          <a class="page-link" href="#" aria-label="Previous">-->
  <!--            <span aria-hidden="true">&laquo;</span>-->
  <!--          </a>-->
  <!--        </li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
  <!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
  <!--        <li class="page-item">-->
  <!--          <a class="page-link" href="#" aria-label="Next">-->
  <!--            <span aria-hidden="true">&raquo;</span>-->
  <!--          </a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </nav>-->
  <!--  </div>-->
</div>
