<meta charset = "UTF-8" />
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<div class="app-share-page">
  <div class="container-fluid text-center">
    <div style="padding-top: 15px; font-family: Oswald; font-size: 30px; color: navy">Feel free to share your ideas!
    </div>
  </div>

  <div class="container-fluid" style="padding-left: 10%; padding-right: 10%">
      <form ngNativeValidate [formGroup]="postForm">
          <label class="col-form-label" id="textboxLabel">UserID *</label>
          <input class="form-control" id="UserID" type="text" placeholder="Your UVa ID" formControlName="UserID"
                 required>

          <label class="col-form-label" id="textboxLabel">UserName</label>
          <input class="form-control" id="UserName" type="text" placeholder="User Name You Want to show"
                 formControlName="UserName">

          <label class="col-form-label" id="textboxLabel">Title *</label>
          <input class="form-control" id="Title" type="text" placeholder="Post Title" formControlName="Title" required>

          <label class="col-form-label" id="textboxLabel">Details</label>
          <textarea class="form-control" id="Details" type="text" placeholder="Post Details" rows="4"
                    formControlName="Details"></textarea>

        <div style="padding-top: 10px">
          <button class="btn btn-primary" id="submitButton" type="submit" (click)="submitForm(postForm)">Submit</button>
          <input  class="btn btn-light" id="resetButton" type="reset" style="margin-left: 5px">
        </div>
      </form>
  </div>

</div>
