<div class="app-share-page">
  <div class="row justify-content-md-center">
    <h5 style="padding-top: 15px">Feel free to share your ideas!</h5>
  </div>
  <div class="container justify-content-sm-center">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" id="title" placeholder="Post Title">
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" id="details" placeholder="Post Details" rows="4"></textarea>
      </div>
      <!--      <div class="form-group form-check">-->
      <!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
      <!--&lt;!&ndash;        <label class="form-check-label" for="exampleCheck1">Anonymous Post</label>&ndash;&gt;-->
      <!--      </div>-->
      <button type="button" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-light">Clear</button>
    </form>
  </div>
</div>
