<div class="app-main-page">
<!--  <div class="banner">-->
    <div class="container-fluid">
      <p>Here to add a picture slider in the future :)</p>
    </div>
<!--  </div>-->
  <div class="row justify-content-md-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link">
<!--                 [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"-->
<!--                 (click)="setListTo('all')">-->
          RECENT POPULAR POSTS
        </a>
      </li>
    </ul>
  </div>
<!--        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>-->
</div>
