<div class="app-posts">
  <div class="container" style="padding-top: 13px; width: 60rem;">
    <div class="card-columns">
      <div *ngFor="let post of posts"
          [class.selected]="post === selectedPost"
          (click)="onSelect(post)">
        <div class="card">
          <div class="card-body">
            <h5>{{post.Title}}</h5>
            <p class="card-text">{{post.Content}}</p>
<!--            <p class="card-text">{{post.LikeNo}} likes</p>-->
<!--            <p class="card-text">{{post.CommentNo}} comments</p>-->
          </div>
        </div>
      </div>
    </div>

    <!--<div *ngIf="selectedPost">-->
    <!--  <h2>{{selectedPost.content | uppercase}} Details</h2>-->
    <!--  <div><span>id: </span>{{selectedPost.id}}</div>-->
    <!--  <div>-->
    <!--    <label>contents-->
    <!--      <input [(ngModel)]="selectedPost.content" placeholder="name"/>-->
    <!--    </label>-->
    <!--    <label>likes-->
    <!--      <input [(ngModel)]="selectedPost.likes" placeholder="name"/>-->
    <!--    </label>-->
    <!--    <label>comments-->
    <!--      <input [(ngModel)]="selectedPost.comments" placeholder="name"/>-->
    <!--    </label>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>


<!--        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>-->
